.container-products {
  margin: 20px auto;
  width: 800px;
}

h1 {
  text-align: center;
  transform: translateX(-20px);
}

table {
  border-collapse: collapse;
}

.container-table th, td {
  border: 1px solid black;
}

.container-table th {
  font-size: 1.6em;
  background: #20639B;
  color: white;
}

.container-table tr:nth-child(odd) {
  background: rgba(246, 213, 92, 0.2);
}

.container-table td {
  padding: 3px 5px;
}

/*.container-table th, td {*/
/*  border-collapse: collapse;*/
/*}*/
